<div class="Banner parallax" id="parallax">
  <div class="overlay">
    <div class="Banner-section__main">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">
            <h2
              [innerHTML]="'HOME.BANNER.title' | translate"
              class="text-center text-white"
            ></h2>
            <!-- <h1
              class="text-center primary-title Banner-section__main-title animate__animated animate__bounceInDown"
            >
              {{ 'HOME.BANNER.title' | translate }}
            </h1> -->
            <img
              width="300px"
              class="animate__animated animate__bounceInDown"
              src="assets/images/logoOriginalSolo.png"
              alt="logo"
            />
            <p
              [innerHTML]="'HOME.BANNER.sub-title' | translate"
              class="text-center Banner-section__main-info"
            ></p>
          </div>
        </div>
      </div>
    </div>
    <div class="Banner-section__footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md col-4">
            <ul class="Banner-section__footer__social">
              <li>
                <a href="#">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>
              <li>
                <a href="#">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/hazpanencasa/">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md col-8">
            <div
              class="Banner-section__footer__address text-center text-lg-right"
            >
              <i>
                <ion-icon name="location-outline"></ion-icon>
              </i>
              <p class="d-none d-sm-block">
                Centro Comercial San Ignacio, Torre Kepler, Chacao
              </p>
              <p class="d-block d-sm-none">Centro Comercial San Ignacio</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
