<div [className]="showSidebar ? 'Sidebar-container' : 'Sidebar-hidden'">
  <header>
    <div class="Sidebar-logo">
      <a *ngIf="showSidebar" class="Sidebar-img" routerLink="/home">
        <img src="assets/images/logoOriginal3.png" alt="logo" />
      </a>
      <a *ngIf="!showSidebar" class="logoSolo" routerLink="/home">
        <img src="assets/images/logoSolo.png" alt="logo" />
      </a>
    </div>
  </header>
  <main>
    <mat-selection-list class="Sidebar-list" [multiple]="false">
      <div>
        <mat-list-option class="Sidebar-item" routerLink="productions">
          <ion-icon matListIcon name="flame-outline"></ion-icon>
          <p *ngIf="showSidebar">Productions</p>
        </mat-list-option>
        <mat-list-option class="Sidebar-item" routerLink="ingredients">
          <ion-icon matListIcon name="book-outline"></ion-icon>
          <p *ngIf="showSidebar">Ingredients</p>
        </mat-list-option>
        <mat-list-option class="Sidebar-item" routerLink="formulas">
          <ion-icon matListIcon name="reader-outline"></ion-icon>
          <p *ngIf="showSidebar">Formulas</p>
        </mat-list-option>
      </div>
    </mat-selection-list>
  </main>
  <footer>
    <mat-selection-list [multiple]="false">
      <div *ngIf="showSidebar; then thenBlock; else elseBlock"></div>
      <ng-template #thenBlock>
        <div class="confi-section">
          <button (click)="sidebarToggle($event)">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </button>
          <p>{{ "collapse menu" | uppercase }}</p>
        </div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="confi-section">
          <button (click)="sidebarToggle($event)">
            <ion-icon name="arrow-forward-circle-outline"></ion-icon>
          </button>
        </div>
      </ng-template>
    </mat-selection-list>
  </footer>
</div>
