<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="user$ | async as user" class="nav-item">
          <a>
            {{ user.displayName }}
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            [class.scroll-list]="scroll"
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            menu
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="formulas">Formulas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="ingredients">Ingredients</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="productions">Producciones</a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn-primary" (click)="logOut()" mat-raised-button>
            <a [class.scroll-list]="scroll" class="nav-link">Log Out</a>
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <div
    [class.scroll]="scroll"
    [class]="clickToggle ? 'scroll-hidden' : 'scroll-hidden2'"
  ></div>
</header>
