<header class="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div
      class="collapse navbar-collapse container justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="text-white">
        <h1>Titulo</h1>
      </div>
      <ul class="navbar-nav p-0">
        <li class="nav-item text-white align-self-center">
          <a class="nav-link" style="font-size: xx-large">
            <ion-icon name="settings-outline"></ion-icon>
          </a>
        </li>
        <li
          *ngIf="user$ | async as user"
          class="nav-item text-white align-self-center"
        >
          <a>
            {{ user.displayName }}
          </a>
        </li>
        <li class="nav-item">
          <a
            (click)="logOut()"
            [class.scroll-list]="scroll"
            class="nav-link"
            style="font-size: xx-large"
            ><ion-icon name="log-out-outline"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div
    [class.scroll]="scroll"
    [class]="clickToggle ? 'scroll-hidden' : 'scroll-hidden2'"
  ></div>
</header>
