<ng-container *ngIf="ingredient && ingredientCompound">
  <div
    [ngClass]="!ingredient.formula ? 'parallax1' : 'parallax2'"
    id="parallax"
    style="background-image: url('assets/images/img-3.png')"
  >
    <div class="overlay">
      <h1 class="ml-3">{{ ingredient.name }}</h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <div class="img-container">
              <img src="assets/images/ingredient.png" alt="ingredient" />
            </div>
          </div>
          <div class="col-sm-7">
            <app-table-ingredients
              *ngIf="ingredientCompound"
              [ingredientCompound]="ingredientCompound"
              [ingredient]="ingredient"
            ></app-table-ingredients>
            <app-table-mixing
              *ngIf="ingredient.formula"
              [ingredientFormula]="ingredient.formula"
            ></app-table-mixing>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
