<div
  style="background-image: url('assets/images/backgroundLogo.png')"
  class="Login-container"
>
  <div class="animate__animated animate__fadeInLeft">
    <form
      [formGroup]="resetPasswordForm"
      class="container Login-form"
      (ngSubmit)="resetPassword($event)"
    >
      <mat-card class="Login-form__card1 container">
        <div class="row">
          <div class="col-6 align-self-center">
            <div class="active Login-form__content mt-3 container">
              <div class="row mb-2">
                <div class="col">
                  <div>
                    <h1 class="text-center">Change your Password</h1>
                    <p>
                      Enter your Email, we will send you an email to change your
                      password after this action you'll need to sign in again
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-card-content class="mb-0">
                    <div>
                      <ion-icon name="mail-outline"></ion-icon>
                    </div>
                    <mat-form-field appearance="fill" class="Login-form__Email">
                      <mat-label> Enter your Email</mat-label>
                      <input
                        type="email"
                        matInput
                        formControlName="email"
                        placeholder="Ex. pat@example.com"
                      />
                      <mat-error
                        *ngIf="
                          loginFormEmail.touched &&
                          loginFormEmail.hasError('required')
                        "
                      >
                        Email is <strong>required</strong>
                      </mat-error>
                      <mat-error *ngIf="loginFormEmail.hasError('pattern')">
                        Please enter a valid email address
                      </mat-error>
                    </mat-form-field>
                  </mat-card-content>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <mat-card-actions class="Login-form__button">
                    <button class="button-primary" type="submit">
                      Reset Password
                    </button>
                  </mat-card-actions>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 align-self-center">
            <img src="assets/images/logoOriginal.png" alt="logo" />
          </div>
        </div>
      </mat-card>
    </form>
  </div>
</div>
