@import ../../../../../../../../utils/variables
.table-time
  background-color: rgba($primary-color, 0.4)
  -webkit-box-shadow: 9px 11px 16px -4px #000000 
  box-shadow: 9px 11px 16px -4px #000000
  padding: 10px
  max-width: 400px
  & tbody, th
    border-top: none
.table-row
  border: none !important 
.table-row__barprogress
  border: none 
  & td
    padding: 0
    border-bottom: none