<ng-container *ngIf="steps && formula">
  <div *ngFor="let ingredient of steps" class="table3-container mt-4">
    <h1 [style.fontSize.%]="fontSize" class="m-0 p-2">
      {{ ingredient.name }}
    </h1>
    <table class="table">
      <thead>
        <tr>
          <th [style.fontSize.%]="fontSize" colspan="4" scope="col">
            {{
              'FORMULAS.FORMULAS-DETAILS.INGREDIENTS_TABLE-COMPOUND.table-head-title'
                | translate
            }}
          </th>
          <th [style.fontSize.%]="fontSize" class="text-right" scope="col">
            %
          </th>
          <th
            *ngIf="!validation(ingredient.ingredients)"
            [style.fontSize.%]="fontSize"
            class="text-right"
            scope="col"
          >
            gr
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let i of ingredient.ingredients">
        <tr class="table-row__info">
          <td [style.fontSize.%]="fontSize" colspan="4" scope="row">
            {{ i.ingredient.name }}
          </td>
          <td [style.fontSize.%]="fontSize" class="text-right">
            {{ i.percentage }}
          </td>
          <td
            *ngIf="!i.ingredient.formula"
            [style.fontSize.%]="fontSize"
            class="text-right"
          >
            {{ getIngredientsGrams(i.percentage) }}
          </td>
        </tr>
        <tr class="table-row__barprogress">
          <td colspan="6">
            <mat-progress-bar
              mode="determinate"
              value="{{ i.percentage }}"
            ></mat-progress-bar>
          </td>
        </tr>
      </tbody>
      <tr>
        <td [style.fontSize.%]="fontSize" colspan="4" scope="row">Total</td>
        <td [style.fontSize.%]="fontSize" class="text-right">
          {{ getTotalPercentage(ingredient.ingredients) }}
        </td>
        <td
          *ngIf="!validation(ingredient.ingredients)"
          [style.fontSize.%]="fontSize"
          class="text-right"
        >
          {{ getTotalGrams(ingredient.ingredients) }}
        </td>
      </tr>
    </table>
  </div>
  <app-table-ingredient-compound-detail
    *ngIf="steps.length > 0"
    [weight]="formula.unit_weight"
    [unit]="formula.units"
    [ingredients]="steps"
    [fontSize]="fontSize"
  ></app-table-ingredient-compound-detail>
  <app-table-ingredients-compound-second-layer
    *ngIf="ingredientsCompoundOutput"
    [ingredientsCompoundTable]="ingredientsCompoundOutput"
    [ingredientsCompound]="ingredientsCompound"
    [weightTotal]="weightTotal"
    [totalPercentage]="totalPercentage"
    [formulaId]="formulaId"
    [ingredientsCompoundCollection]="ingredientsCompoundCollection"
    [fontSize]="fontSize"
  ></app-table-ingredients-compound-second-layer>
</ng-container>
