<ng-container *ngIf="formula">
  <div class="table3-container">
    <h4 class="m-0 p-2">
      <strong [style.fontSize.%]="fontSize">
        {{ formula.steps[7].ingredients[0].ingredient.name }}
      </strong>
    </h4>
    <table class="table">
      <thead>
        <tr>
          <th [style.fontSize.%]="fontSize" colspan="4" scope="col">Name</th>
          <th [style.fontSize.%]="fontSize" class="text-right" scope="col">
            %
          </th>
          <th [style.fontSize.%]="fontSize" class="text-right" scope="col">
            gr
          </th>
        </tr>
      </thead>
      <tbody
        *ngFor="
          let i of formula.steps[7].ingredients[0].ingredient.formula
            .ingredients
        "
      >
        <tr class="table-row__info">
          <td [style.fontSize.%]="fontSize" colspan="4" scope="row">
            {{ i.ingredient.name }}
          </td>
          <td [style.fontSize.%]="fontSize" class="text-right">
            {{ i.percentage }}
          </td>
          <td [style.fontSize.%]="fontSize" class="text-right">
            {{
              getIngredientsGrams(
                totalGrams,
                totalPercentage,
                i.percentage
              ).toFixed(1)
            }}
          </td>
        </tr>
        <tr class="table-row__barprogress">
          <td colspan="6">
            <mat-progress-bar
              mode="determinate"
              value="{{ i.percentage }}"
            ></mat-progress-bar>
          </td>
        </tr>
      </tbody>
      <tr>
        <td [style.fontSize.%]="fontSize" colspan="4" scope="row">Total</td>
        <td [style.fontSize.%]="fontSize" class="text-right">
          {{ totalPercentage.toFixed(1) }}
        </td>
        <td [style.fontSize.%]="fontSize" class="text-right">
          {{ totalGrams.toFixed(1) }}
        </td>
      </tr>
    </table>
  </div>
</ng-container>
