<ng-container *ngIf="ingredient">
  <div
    style="background-image: url('assets/images/ingredient.png')"
    class="container-card"
  >
    <div class="overlay">
      <div class="items head">
        <p>{{ ingredient.name }}</p>
        <hr />
      </div>
      <div class="items info">
        <p class="pb-3">This product was created by</p>
      </div>
      <div class="items ingredient">
        <p>{{ ingredient.creator }}</p>
        <button routerLink="{{ ingredient.id }}" class="button-primary mt-3">
          See details
        </button>
      </div>
    </div>
  </div>
</ng-container>
