<ng-container *ngIf="formula">
  <div class="time-container">
    <div class="time-item">
      <h2>Hydration</h2>
      <p [style.fontSize.%]="fontSize">
        {{ formula.ingredients[1].percentage }}%
      </p>
    </div>
    <div class="time-item">
      <h2>Units</h2>
      <p [style.fontSize.%]="fontSize">{{ formula.units }}</p>
    </div>
    <div class="time-item">
      <h2>Baker Factor</h2>
      <p [style.fontSize.%]="fontSize">{{ bakeryMeasure.toFixed(2) }} gr/%</p>
    </div>
    <div class="time-item">
      <h2>Total time</h2>
      <p [style.fontSize.%]="fontSize">
        {{ transformMinutesToHours(timeTotal) }}
      </p>
    </div>
    <div class="time-item">
      <h2>Weight Total</h2>
      <p [style.fontSize.%]="fontSize">{{ unitWeight * formula.units }} gr</p>
    </div>
  </div>
</ng-container>
