@import ../../../../../../../../utils/variables
.time-container
  display: grid
  grid-template-columns: minmax(114px, 1fr) repeat(4, minmax(114px, 1fr))
  grid-template-rows: repeat(2, 45px)
  justify-content: flex-start
  grid-gap: 20px
  img
    width: 50px
.time-item
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center
  h2
    margin: 0
.last-child
  grid-column: 6 span
.progress-percent
  display: flex
  justify-content: space-between
