<ng-container *ngIf="formula">
  <div class="table2-container">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2" scope="col">Name</th>
          <th class="text-center" scope="col">%</th>
          <th class="text-center" scope="col">gr</th>
        </tr>
      </thead>
      <tbody *ngFor="let i of formula.ingredients">
        <tr class="table-row__info">
          <td colspan="2" scope="row">
            {{ i.ingredient.name }}
          </td>
          <td>{{ i.percentage }}</td>
          <td>
            {{
              (
                (i.percentage * transformStringToNumber(formula.unit_weight)) /
                resultPercent
              ).toFixed(1)
            }}
          </td>
        </tr>
        <tr class="table-row__barprogress">
          <td colspan="4">
            <mat-progress-bar
              mode="determinate"
              value="{{ i.percentage }}"
            ></mat-progress-bar>
          </td>
        </tr>
      </tbody>
      <tr>
        <td colspan="2" scope="row">Total</td>
        <td>{{ resultPercent }}%</td>
        <td>{{ formula.unit_weight }}</td>
      </tr>
    </table>
  </div>
</ng-container>
