<ng-container *ngIf="ingredientsInput">
  <div class="table2-container">
    <table class="table">
      <thead>
        <tr>
          <th [style.fontSize.%]="fontSize" colspan="2" scope="col">
            {{
              'FORMULAS.FORMULAS-DETAILS.INGREDIENTS_TABLE.table-head-title'
                | translate
            }}
          </th>
          <th class="text-right" [style.fontSize.%]="fontSize" scope="col">
            %
          </th>
          <th class="text-right" [style.fontSize.%]="fontSize" scope="col">
            gr
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let i of ingredientsInput | sortIngredients">
        <tr class="table-row__info">
          <td [style.fontSize.%]="fontSize" colspan="2" scope="row">
            {{ i.ingredient.name }}
          </td>
          <td class="text-right" [style.fontSize.%]="fontSize">
            {{ i.percentage }}
          </td>
          <td class="text-right" [style.fontSize.%]="fontSize">
            {{ i.percentage | getGrams: totalPercentage:formula }}
          </td>
        </tr>
        <tr class="table-row__barprogress">
          <td colspan="4">
            <mat-progress-bar
              mode="determinate"
              [value]="i.percentage"
            ></mat-progress-bar>
          </td>
        </tr>
      </tbody>
      <tr>
        <td [style.fontSize.%]="fontSize" colspan="2" scope="row">Total</td>
        <td
          *ngIf="totalPercentage"
          class="text-right"
          [style.fontSize.%]="fontSize"
        >
          {{ totalPercentage.toFixed(1) }}
        </td>
        <td class="text-right" [style.fontSize.%]="fontSize">
          {{ formula | totalWeight }}
        </td>
      </tr>
    </table>
  </div>
</ng-container>
