<div class="video my-4 my-lg-0">
  <div class="overlay">
    <video src="assets/images/panaderia.mp4" autoplay loop muted></video>
    <div class="header-content">
      <h1 data-aos-duration="500" data-aos="fade-up" class="text-center">
        {{ 'VIDEO.TITLE' | translate }}
      </h1>
      <p
        data-aos="zoom-out"
        data-aos-easing="linear"
        data-aos-duration="1000"
        class="mt-4 text-center"
      >
        {{ 'VIDEO.SUB_TITLE' | translate }}
      </p>
      <div data-aos-duration="600" data-aos="fade-up" class="d-flex">
        <img
          class="ml-auto"
          src="assets/images/logoTransparenteHazPanEnCasa.png"
          alt="img"
        />
      </div>
    </div>
  </div>
</div>
