<div class="video my-4 my-lg-0">
  <div class="overlay">
    <video src="assets/images/panaderia.mp4" autoplay loop muted></video>
    <div class="header-content">
      <h1 data-aos-duration="500" data-aos="fade-up" class="text-center">
        The best receipts of Venezuela
      </h1>
      <p
        data-aos="zoom-out"
        data-aos-easing="linear"
        data-aos-duration="1000"
        class="mt-4 text-center"
      >
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae,
        asperiores.
      </p>
    </div>
  </div>
</div>
