@import ../../../../utils/variables

.hide
  display: none
  transition: .5s

.Login-container
  background-color: rgb(244, 228, 202)
  background-image: url("https://cdn.hipwallpaper.com/i/51/63/V2NQjn.jpg") 
  height: 100vh
  width: 100%
  background-size: cover
  display: flex
  margin: 0
  padding: 0
  background-position: center
  background-repeat: no-repeat
  justify-content: center
  align-items: center
  .Login-form
    display: flex
    justify-content: center
    align-items: center
    .Login-form__card1
      margin: 0
      width: 300px
      height: 600px
      background: rgb(255, 255, 255, 0.7)
      border-radius: 2em
      border: 1px solid black
      -webkit-box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      -moz-box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      backdrop-filter: blur(6px)
      transition: .5s
      .Login-form__logo
        display: flex
        justify-content: center
        align-items: center
        mat-card-title
          text-align: center
      .Login-form__content.active
        transition: 1.5s
        display: flex
        flex-direction: column
        justify-content: center
        .Login-form__Email
          width: 100%
          ion-icon
            font-size: 15px
        .Login-form__button
          display: flex
          flex-direction: column
          align-items: center
          button
            margin-bottom: 5px 
            width: 200px
            height: 40px
    .Login-form__card2
      width: 300px
      height: 600px
      background: rgb(255, 255, 255, 0.7)
      border-radius: 2em
      border: 1px solid black
      -webkit-box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      -moz-box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      transition: .5s
      .Login-form__logo
        margin-top: 10px
        display: flex
        justify-content: center
        align-items: center
        mat-card-title
          text-align: center
      .login-form__toggleButtons
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 100px
        button
          width: 200px
          height: 40px
          margin-bottom: 10px
     
