@import ../../../../utils/variables
.Login-container
  background-color: rgb(244, 228, 202) 
  height: 100vh
  width: 100%
  background-size: cover
  display: flex
  margin: 0
  padding: 0
  background-position: center
  background-repeat: no-repeat
  justify-content: center
  align-items: center
  .Login-form
    display: flex
    justify-content: center
    align-items: center
    .Login-form__card1
      padding: 1em
      margin: 0
      width: 600px
      height: 300px
      background: rgb(255, 255, 255, 0.7)
      border-radius: 2em
      border: 1px solid #6c757d5e
      -webkit-box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      -moz-box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      box-shadow: 50px 27px 15px 0px rgba(50, 50, 50, 0.44)
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      backdrop-filter: blur(3px)
      .Login-form__content.active
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 20px
        mat-card-content
          display: flex
          & div
            display: flex
            width: 30px
            background: $primary-color
            height: 51px
            justify-content: center
            align-items: center
            ion-icon
              color: $light-color
              font-size: 1.5em
        .Login-form__Email
          width: 232px
        .Login-form__button
          display: flex
          flex-direction: column
          align-items: center
          button
            margin-bottom: 5px 
            width: 200px
            height: 40px
.logo-login
  width: 300px
@media screen and ( max-width: 768px )
  .Login-container
    .Login-form
      .Login-form__card1
        width: 280px
        height: 500px
  .logo-login
    width: 175px
    margin-left: 70px

  