<div class="buttons-container noPrint">
  <div class="d-flex justify-content-center align-self-center">
    <mat-button-toggle-group
      #fontSize="matButtonToggleGroup"
      (click)="onFontSizeChange(fontSize.value)"
    >
      <mat-button-toggle
        class="button-active"
        style="width: 45px; font-size: 20px; margin-right: 20px"
        [value]="true"
      >
        A+
      </mat-button-toggle>
      <mat-button-toggle
        class="button-active"
        style="width: 45px; font-size: 20px"
        [value]="false"
      >
        A-
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="d-flex justify-content-center align-self-center">
    <mat-button-toggle-group
      #gridChangeFired="matButtonToggleGroup"
      (click)="onChangeGrid(gridChangeFired.value)"
    >
      <mat-button-toggle
        [value]="true"
        [ngClass]="
          toggleButtonGridContainer ? 'button-active mr-3' : 'button mr-3'
        "
      >
        <ion-icon name="book-outline"></ion-icon>
      </mat-button-toggle>
      <mat-button-toggle
        [value]="false"
        [ngClass]="toggleButtonGridContainer ? 'button' : 'button-active'"
      >
        <ion-icon name="square-outline"></ion-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="d-flex justify-content-center align-self-center">
    <mat-button-toggle-group
      #introToggle="matButtonToggleGroup"
      (click)="onIntroToggle(introToggle.value)"
    >
      <mat-button-toggle
        [value]="true"
        [ngClass]="toggleButtonIntro ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="reader-outline"></ion-icon>Intro
      </mat-button-toggle>
      <mat-button-toggle
        [value]="false"
        [ngClass]="toggleButtonIntro ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon>No Intro
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="d-flex justify-content-center align-self-center">
    <mat-button-toggle-group
      #imgToggle="matButtonToggleGroup"
      (click)="onImgToggle(imgToggle.value)"
    >
      <mat-button-toggle
        [value]="true"
        [ngClass]="toggleButtonImg ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="image-outline"></ion-icon
        >{{
          'FORMULAS.FORMULAS-DETAILS.BUTTONS.photo.photo_button' | translate
        }}
      </mat-button-toggle>
      <mat-button-toggle
        [value]="false"
        [ngClass]="toggleButtonImg ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon
        >{{
          'FORMULAS.FORMULAS-DETAILS.BUTTONS.photo.no_photo_button' | translate
        }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="d-flex justify-content-center align-self-center">
    <mat-button-toggle-group
      #infoToggle="matButtonToggleGroup"
      (click)="onAddInfoToggle(infoToggle.value)"
    >
      <mat-button-toggle
        [value]="true"
        [ngClass]="toggleButtonAddInfo ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="star-outline"></ion-icon>Add Info
      </mat-button-toggle>
      <mat-button-toggle
        [value]="false"
        [ngClass]="toggleButtonAddInfo ? 'button ' : 'button-active '"
      >
        <ion-icon name="close-circle-outline"></ion-icon> No Add info
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="d-flex justify-content-center align-self-center">
    <button (click)="onPrintPDF()" class="button-active">
      <ion-icon name="print-outline"></ion-icon
      >{{ 'FORMULAS.FORMULAS-DETAILS.BUTTONS.print' | translate }}
    </button>
  </div>
</div>
