<ng-container *ngIf="timeTotal > 0">
  <h1>{{ 'FORMULAS.FORMULAS-DETAILS.TIME_TABLE.title' | translate }}</h1>
  <div class="table2-container mb-3">
    <table class="table">
      <thead>
        <tr>
          <th [style.fontSize.%]="fontSize" colspan="10" scope="col">
            {{
              'FORMULAS.FORMULAS-DETAILS.TIME_TABLE.table-head-title'
                | translate
            }}
          </th>
          <th
            [style.fontSize.%]="fontSize"
            colspan="2"
            class="text-right"
            scope="col"
          >
            Dur.(min)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of formula.steps" class="table-row__info">
          <td
            [style.fontSize.%]="fontSize"
            *ngIf="i.time > 0"
            colspan="10"
            scope="col"
          >
            {{ i.name }}
          </td>
          <td
            [style.fontSize.%]="fontSize"
            *ngIf="i.time > 0"
            class="text-right"
          >
            <!-- {{ transformMinutesToHours(i.time) }} -->
          </td>
          <td
            [style.fontSize.%]="fontSize"
            class="text-right"
            *ngIf="i.time > 0"
          >
            ({{ i.time }})
          </td>
        </tr>
      </tbody>
      <tr>
        <td [style.fontSize.%]="fontSize" colspan="10" scope="row">Total</td>
        <td [style.fontSize.%]="fontSize" class="text-right">
          <!-- {{ transformMinutesToHours(timeTotal) }} -->
        </td>
        <td [style.fontSize.%]="fontSize" class="text-right">
          <!-- ({{ timeTotal }}) -->
        </td>
      </tr>
    </table>
  </div>
</ng-container>
