<ng-container *ngIf="production">
  <div class="buttons-container d-print-none">
    <div class="d-flex justify-content-center">
      <button
        (click)="decreaseFont()"
        style="width: 30px; font-size: 20px"
        class="button-active mr-3"
      >
        A-
      </button>
      <button
        (click)="increaseFont()"
        style="width: 30px; font-size: 20px"
        class="button-active"
      >
        A+
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="changeGridColumnByTwo()"
        style="width: 30px; font-size: 20px"
        [ngClass]="
          toggleButtonGridContainer ? 'button-active mr-3' : 'button mr-3'
        "
      >
        <ion-icon name="book-outline"></ion-icon>
      </button>
      <button
        [ngClass]="toggleButtonGridContainer ? 'button' : 'button-active'"
        (click)="changeGridColumnByOne()"
        style="width: 30px; font-size: 20px"
      >
        <ion-icon name="square-outline"></ion-icon>
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithIntro()"
        [ngClass]="toggleButtonIntro ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="reader-outline"></ion-icon>Intro
      </button>
      <button
        (click)="toggleButtonWithNoIntro()"
        [ngClass]="toggleButtonIntro ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon>No Intro
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithImg()"
        [ngClass]="toggleButtonImg ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="image-outline"></ion-icon>Photo
      </button>
      <button
        (click)="toggleButtonWithNoImg()"
        [ngClass]="toggleButtonImg ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon>No Photo
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithAddInfo()"
        [ngClass]="toggleButtonAddInfo ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="star-outline"></ion-icon>Add Info
      </button>
      <button
        (click)="toggleButtonWithNoAddInfo()"
        [ngClass]="toggleButtonAddInfo ? 'button ' : 'button-active '"
      >
        <ion-icon name="close-circle-outline"></ion-icon> No Add info
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="printPdf()" class="button-active">
        <ion-icon name="print-outline"></ion-icon>Print
      </button>
    </div>
  </div>
  <div class="container-productions-details">
    <h1 class="ml-4 d-print-none">Productions of {{ production.name }}</h1>
    <div class="mt-4 br" *ngFor="let i of production.formulas">
      <div
        [ngClass]="
          toggleButtonGridContainer
            ? 'content-container-2columns'
            : 'content-container-1columns'
        "
      >
        <div class="production-description">
          <div class="row">
            <div [ngClass]="toggleButtonImg ? 'col-5' : 'col-12'">
              <div class="mb-4 header-title">
                <img src="assets/images/logoOriginal.png" alt="logo" />
                <h1 class="ml-4">
                  {{ i.formula.name }}
                </h1>
              </div>
              <div [ngClass]="toggleButtonIntro ? 'd-block' : 'd-none'">
                <p [style.fontSize.%]="fontSize" *ngIf="i.formula.description">
                  {{ i.formula.description }}
                </p>
                <p [style.fontSize.%]="fontSize" *ngIf="i.formula.user">
                  <strong>Created by:</strong>
                  {{ i.formula.user.creator.name }}
                </p>
                <p [style.fontSize.%]="fontSize" *ngIf="i.formula.user">
                  <strong>Created at:</strong>
                  {{
                    i.formula.user.creator.date.seconds * 1000
                      | date: "yyyy/MM/dd h:mm:ss a"
                  }}
                </p>
                <p [style.fontSize.%]="fontSize" *ngIf="i.formula.user">
                  <strong>Email:</strong>
                  {{ i.formula.user.creator.email }}
                </p>
              </div>
              <div class="preparation-time mt-4">
                <app-table-intro
                  [fontSize]="fontSize"
                  [formula]="i.formula"
                  [unitWeight]="i.formula.unit_weight"
                  [units]="i.formula.units"
                ></app-table-intro>
              </div>
            </div>
            <div [ngClass]="toggleButtonImg ? 'col-5 offset-2' : 'd-none'">
              <div class="img-container">
                <img src="assets/images/img-3.png" alt="item" />
              </div>
            </div>
          </div>
        </div>
        <div class="item-container">
          <app-table-ingredients
            [fontSize]="fontSize"
            [ingredients]="i.formula.ingredients"
            [unitWeight]="i.formula.unit_weight"
            [units]="i.formula.units"
          ></app-table-ingredients>
          <div *ngIf="i.formula.steps[7].ingredients" class="mt-2">
            <h1>Compound ingredients</h1>
            <app-table-ingredients-compound-ingredient
              [fontSize]="fontSize"
              [ingredients]="i.formula.steps[7].ingredients"
              [units]="i.formula.units"
              [unitWeight]="i.formula.unit_weight"
            ></app-table-ingredients-compound-ingredient>
            <app-production-stepper-compound
              [fontSize]="fontSize"
              [name]="i.formula.steps[7].ingredients[0].ingredient.name"
              [mixing]="
                i.formula.steps[7].ingredients[0].ingredient.formula.mixing
              "
            ></app-production-stepper-compound>
          </div>
          <app-table-time
            [steps]="i.formula.steps"
            [fontSize]="fontSize"
          ></app-table-time>
          <div [ngClass]="toggleButtonAddInfo ? 'mt-2 verso' : 'd-none'">
            <h1>Additional Information</h1>
            <app-additional-info
              [fontSize]="fontSize"
              [formula]="formula"
            ></app-additional-info>
          </div>
        </div>
        <div class="item-container">
          <app-production-stepper
            [fontSize]="fontSize"
            [mixing]="i.formula.mixing"
          ></app-production-stepper>
          <app-preparation-steps
            [fontSize]="fontSize"
            [steps]="i.formula.steps"
          >
          </app-preparation-steps>
        </div>
      </div>
    </div>
  </div>
</ng-container>
