@import ../../../../../../utils/variables
.buttons-container
  height: 10vh
  width: 100vw
  padding: 18px 0
  display: grid
  grid-template-columns: repeat(2, 96px) repeat(3, 240px)96px
  grid-template-rows: 50px
  grid-gap: 20px
  justify-content: center
  background-color: #eddec8
  position: fixed
  left: 0
  right: 0
  top: 0
  z-index: 999
  bottom: 0
.button
  outline: .125rem solid #881919
  background-color: #fff
  color: #881919
  border: none
  height: 40px
  width: 100px
  line-height: normal !important
  transition: 0.5s
  box-shadow: 3px 3px 1px -2px rgba(0, 0, 0, 0.2), 4px 4px 2px 2px rgba(0, 0, 0, 0.14), -1px 3px 0px 0px rgba(0, 0, 0, 0.12) !important
  display: flex
  align-items: center
  justify-content: space-evenly
  & ion-icon
    font-size: 26px
  
.button-active
  outline: .125rem solid #881919
  border: none
  height: 40px
  width: 100px
  line-height: normal !important
  background-color: #881919
  color: #fff
  transition: 0.5s
  box-shadow: 3px 3px 1px -2px rgba(0, 0, 0, 0.2), 4px 4px 2px 2px rgba(0, 0, 0, 0.14), -1px 3px 0px 0px rgba(0, 0, 0, 0.12) !important
  display: flex
  align-items: center
  justify-content: space-evenly
  & ion-icon
    font-size: 26px
  &:hover
    color: #881919
    background-color: #fff
.container-productions-details
  padding-top: 7em
  width: 100%
  margin: 0 auto
.production-description
  width: 90vw
  margin: 20px auto
.img-container
  width: 100%
  img
    width: 500px
.header-title
  display: flex
  align-items: flex-end
  img
    width: 100px
.preparation-time
  border-top: .063rem solid #e4e4e4
  padding-top: 1.25rem
.content-container-2columns
  display: grid
  grid-template-columns: 40% 60%
  grid-template-rows: auto 1fr
  grid-gap: 20px
  margin: 0 40px
  .production-description
    grid-column: span 2

.content-container-1columns
  display: grid
  grid-gap: 20px
  grid-template-columns: 1fr
  justify-items: center
  .production-description
    grid-column: span 1
.item-container
  width: 100%
@media print
  .br
    page-break-before: always
  .verso
    page-break-before: verso
  .container-productions-details
    padding-top: 2em
    width: 100%
    margin: 0
  .production-description
    width: 100vw
    margin: 20px 50px
  .img-container
    margin-left: 80px
    width: 100%
    img
      width: 500px
@page
    margin: 100px 50px !important
  