<ng-container *ngIf="production">
  <div class="buttons-container d-print-none">
    <div class="d-flex justify-content-center">
      <button
        (click)="decreaseFont()"
        style="width: 30px; font-size: 20px"
        class="button-active mr-3"
      >
        A-
      </button>
      <button
        (click)="increaseFont()"
        style="width: 30px; font-size: 20px"
        class="button-active"
      >
        A+
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="changeGridColumnByTwo()"
        style="width: 30px; font-size: 20px"
        [ngClass]="
          toggleButtonGridContainer ? 'button-active mr-3' : 'button mr-3'
        "
      >
        <ion-icon name="book-outline"></ion-icon>
      </button>
      <button
        [ngClass]="toggleButtonGridContainer ? 'button' : 'button-active'"
        (click)="changeGridColumnByOne()"
        style="width: 30px; font-size: 20px"
      >
        <ion-icon name="square-outline"></ion-icon>
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithIntro()"
        [ngClass]="toggleButtonIntro ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="reader-outline"></ion-icon>Intro
      </button>
      <button
        (click)="toggleButtonWithNoIntro()"
        [ngClass]="toggleButtonIntro ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon>No Intro
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithImg()"
        [ngClass]="toggleButtonImg ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="image-outline"></ion-icon>Photo
      </button>
      <button
        (click)="toggleButtonWithNoImg()"
        [ngClass]="toggleButtonImg ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon>No Photo
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithAddInfo()"
        [ngClass]="toggleButtonAddInfo ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="star-outline"></ion-icon>Add Info
      </button>
      <button
        (click)="toggleButtonWithNoAddInfo()"
        [ngClass]="toggleButtonAddInfo ? 'button ' : 'button-active '"
      >
        <ion-icon name="close-circle-outline"></ion-icon> No Add info
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="printPdf()" class="button-active">
        <ion-icon name="print-outline"></ion-icon>Print
      </button>
    </div>
  </div>

  <h1>Productions of {{ production.name }}</h1>
  <section class="Info-section1 mt-4">
    <div *ngFor="let i of production.formulas">
      <h1>{{ i.formula.name }}</h1>
      <app-table-ingredients
        [ingredients]="i.formula.ingredients"
        [unitWeight]="i.formula.unit_weight"
        [units]="i.formula.units"
      ></app-table-ingredients>
    </div>
  </section>
</ng-container>
