<ng-container *ngIf="ingredients">
  <app-banner></app-banner>
  <div class="container my-4">
    <div class="row">
      <div class="col-6 col-md-3">
        <mat-form-field>
          <mat-label>{{ 'INGREDIENTS.input' | translate }}</mat-label>
          <input
            matInput
            placeholder="Ex. Milk"
            name="filterIngredients"
            [(ngModel)]="filterIngredients"
          />
        </mat-form-field>
      </div>
      <div class="col-md-5 col-6 offset-md-3">
        <mat-paginator
          class="p-0"
          [length]="ingredients.length"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="onPageChange($event)"
        >
        </mat-paginator>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-12">
        <div class="container-grid">
          <div
            *ngFor="
              let ingredient of ingredients
                | paginate: pageSize:pageNumber
                | filter: filterIngredients
            "
          >
            <app-ingredients-grid
              [ingredient]="ingredient"
            ></app-ingredients-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
