<div
  style="background-image: url('assets/images/Splash-hazpanencasa-24-24.png')"
  class="Sidebar-container"
>
  <div class="Sidebar-logo">
    <a class="Sidebar-img" routerLink="/home">
      <img src="assets/images/logoOriginal3.png" alt="logo" />
    </a>
  </div>
  <mat-selection-list class="Sidebar-list mt-4" [multiple]="false">
    <div>
      <mat-list-option class="Sidebar-item" routerLink="productions">
        <ion-icon matListIcon name="flame-outline"></ion-icon>
        Productions
      </mat-list-option>
      <mat-list-option class="Sidebar-item" routerLink="ingredients">
        <ion-icon matListIcon name="book-outline"></ion-icon>
        Ingredients
      </mat-list-option>
      <mat-list-option class="Sidebar-item" routerLink="formulas">
        <ion-icon matListIcon name="reader-outline"></ion-icon>
        Formulas
      </mat-list-option>
    </div>
    <div class="confi-section">
      <mat-list-option class="Sidebar-item">
        <ion-icon matListIcon name="cog-outline"></ion-icon>
        Configurations
      </mat-list-option>
      <button><ion-icon name="arrow-forward-circle-outline"></ion-icon></button>
    </div>
  </mat-selection-list>
</div>
