<section class="mb-4" *ngIf="formula">
  <div class="container">
    <div *ngFor="let step of formula.steps; let i = index" class="row mb-4">
      <div class="col-6 m-auto">
        <div class="img-container">
          <img
            src="assets/images/Pasos/Pasos_PNG/icon-{{ i + 1 }}.png"
            alt="icon"
          />
          <div class="info-step">
            <h2 class="m-0">Step {{ i + 1 }} {{ step.name }}</h2>
            <div *ngIf="step.time > 0" class="info-icons mb-2">
              <ion-icon name="timer-outline"></ion-icon>
              <p>{{ step.time }} min</p>
            </div>
            <div class="info-icons" *ngIf="step.temperature">
              <ion-icon
                style="color: #881918"
                name="thermometer-outline"
              ></ion-icon>
              <p>
                {{ step.temperature.min }} ˚C /
                {{ celsiusToFahrenheit(step.temperature.min) }} ˚F
              </p>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="step.description" class="col-6">
        <p>{{ step.description }}</p>
      </div>
    </div>
  </div>
</section>
