<ng-container *ngIf="formula">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">Mix Order</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div
          class="mb-4"
          *ngFor="let s of formula.mixing[0].mixing_order; let i = index"
        >
          <div class="title-stepper mb-2">
            <img
              src="assets/images/Pasos/Pasos_PNG/icon-{{ i + 1 }}.png"
              alt="icon"
            />
            <h1 class="text-center ml-2">Step {{ i + 1 }}</h1>
          </div>
          <div class="formula-stepper__accordion">
            <em>Ingredients</em>
            <div class="mt-3">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Hydration</th>
                    <th scope="col">%</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of s.ingredients">
                    <td>{{ i.ingredient.name }}</td>
                    <td>{{ i.ingredient.cost }}</td>
                    <td>{{ i.ingredient.hydration }}</td>
                    <td>{{ i.percentage }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="s.description">
              <em class="mb-3">Instructions</em>
              <p>{{ s.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
