<div *ngIf="ingredients$ | async as ingredients" class="card">
  <div class="card__content">
    <div
      style="background-image: url(assets/images/panCanilla.jpg)"
      class="card__front"
    >
      <h3 class="card__title">{{ formula.name }}</h3>
      <p class="card__subtitle">
        {{ 'FORMULAS.CARD.text-title' | translate }}
      </p>
      <p class="card__normal">
        <span>Hydration: {{ ingredients | hydration }}%</span>
      </p>
      <div class="progress">
        <div
          class="progress-bar"
          role="progressbar"
          [style.width.%]="ingredients | hydration"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          {{ ingredients | hydration }}%
        </div>
      </div>
      <div *ngIf="(ingredients | fat) > 0">
        <p class="card__normal">
          <span>Grasa: {{ ingredients | fat }}%</span>
        </p>
        <div class="progress">
          <div
            class="progress-bar bg-warning"
            role="progressbar"
            [style.width.%]="ingredients | fat"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            <!-- {{ ingredients | fat }}% -->
          </div>
        </div>
      </div>
      <div>
        <p class="card__normal text-left">
          Creador : {{ formula.user.creator.name }}
        </p>
        <p class="card__normal text-left">
          Email : {{ formula.user.creator.email }}
        </p>
      </div>
      <p class="card__normal">
        {{ formula.user.creator.date.seconds | date }}
      </p>
    </div>

    <div class="card__back">
      <div class="card__back-img">
        <img src="assets/images/bollo_de_fibra.jpg" alt="" />
      </div>
      <div class="card__body">
        <div class="icons">
          <button class="mr-5" [routerLink]="['/home', 'formulas', formula.id]">
            <ion-icon name="navigate-outline"></ion-icon>
          </button>
          <button (click)="onShowModal('assets/images/bollo_de_fibra.jpg')">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </div>
        <div class="info">
          {{
            formula.description
              ? formula.description
              : ('FORMULAS.CARD.text-info' | translate)
          }}
        </div>
      </div>
    </div>
  </div>
</div>
