<ng-container *ngIf="formula">
  <div class="card">
    <div class="card__content">
      <div
        style="background-image: url(assets/images/panCanilla.jpg)"
        class="card__front"
      >
        <h3 class="card__title">{{ formula.name }}</h3>
        <p class="card__subtitle">Time for some bakery</p>
      </div>

      <div class="card__back">
        <div class="card__back-img">
          <img src="assets/images/bollo_de_fibra.jpg" alt="" />
        </div>
        <div class="card__body">
          <div class="icons">
            <button class="mr-5" routerLink="{{ formula.id }}">
              <ion-icon name="navigate-outline"></ion-icon>
            </button>
            <button (click)="showModal('assets/images/bollo_de_fibra.jpg')">
              <ion-icon name="search-outline"></ion-icon>
            </button>
          </div>
          <div class="info">
            {{ formula.description ? formula.description : "More details" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
