<footer [class]="clickToggle ? 'Footer pl-5' : 'Footer'">
  <div class="container Footer-section">
    <div class="row">
      <div class="col-4">
        <h5 class="Footer-section__heading">about us</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex
          quidem perferendis corrupti consequuntur alias quae et numquam
          asperiores ad doloremque nisi quis, maiores dolorum corporis optio
          dolor quia sed!
        </p>
      </div>
      <div class="col-4">
        <h5 class="Footer-section__heading">contact info</h5>
        <ul class="Footer-section__info">
          <li>
            <ion-icon name="location-outline"></ion-icon>
            1234 Altschul, New York, NY 10027-0000
          </li>
          <li>
            <ion-icon name="call-outline"></ion-icon>
            +1 987 654 3210
          </li>
          <li><ion-icon name="mail-outline"></ion-icon> admin@domain.com</li>
        </ul>
      </div>
      <div class="col-4">
        <h5 class="Footer-section__heading">opening Hours</h5>
        <div class="Footer-section__opening">
          <div class="Footer-section__opening_days">MONDAY - THURSDAY</div>
          <div class="Footer-section__opening_hours">10:00 AM - 11:00 PM</div>
        </div>
        <div class="Footer-section__opening">
          <div class="Footer-section__opening_days">FRIDAY - SUNDAY</div>
          <div class="Footer-section__opening_hours">10:00 AM - 11:00 PM</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="Footer-section__copyright">
        <span>2020</span>
        Pan en casa. All rights reserved
      </div>
    </div>
  </div>
</footer>
