<footer [class]="clickToggle ? 'Footer pl-5' : 'Footer'">
  <div class="container Footer-section">
    <div class="row">
      <div class="col-md-4 col-12">
        <h5 class="Footer-section__heading ml-3 ml-sm-0">about us</h5>
        <p class="text-center text-md-left px-2 px-md-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ex
          quidem perferendis corrupti consequuntur alias quae et numquam
          asperiores ad doloremque nisi quis, maiores dolorum corporis optio
          dolor quia sed!
        </p>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="Footer-section__heading ml-3 ml-sm-0">contact info</h5>
        <ul class="Footer-section__info text-center text-md-left">
          <li>
            <ion-icon name="location-outline"></ion-icon>
            1234 Altschul, New York, NY 10027-0000
          </li>
          <li>
            <ion-icon name="call-outline"></ion-icon>
            +1 987 654 3210
          </li>
          <li><ion-icon name="mail-outline"></ion-icon> admin@domain.com</li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <h5 class="Footer-section__heading ml-3 ml-sm-0">opening Hours</h5>
        <div class="Footer-section__opening text-center text-md-left">
          <div class="Footer-section__opening_days">MONDAY - THURSDAY</div>
          <div class="Footer-section__opening_hours">10:00 AM - 11:00 PM</div>
        </div>
        <div class="Footer-section__opening text-center text-md-left">
          <div class="Footer-section__opening_days">FRIDAY - SUNDAY</div>
          <div class="Footer-section__opening_hours">10:00 AM - 11:00 PM</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="Footer-section__copyright col-12 text-center text-md-left">
        <span>2020</span>
        Pan en casa. All rights reserved
      </div>
    </div>
  </div>
</footer>
