<ng-container *ngIf="formula">
  <app-panel-buttons
    [fontSize]="fontSize"
    [toggleButtonGridContainer]="toggleButtonGridContainer"
    [toggleButtonIntro]="toggleButtonIntro"
    [toggleButtonImg]="toggleButtonImg"
    [toggleButtonAddInfo]="toggleButtonAddInfo"
  ></app-panel-buttons>
  <div class="container-formula" id="print-section">
    <div class="row">
      <div [ngClass]="toggleButtonImg ? 'col-7' : 'col-12'">
        <app-hero
          [toggleButtonIntro]="toggleButtonIntro"
          [formula]="formula"
          [fontSize]="fontSize"
        ></app-hero>
        <!-- <div class="preparation-time mt-4">
          <app-table-intro
            *ngIf="ingredients$ | async as ingredients"
            [fontSize]="fontSize"
            [formula]="formula"
            [ingredients]="ingredients"
          ></app-table-intro>
        </div> -->
      </div>
      <div [ngClass]="toggleButtonImg ? 'col-5' : 'd-none'">
        <div class="img-container">
          <img src="assets/images/img-3.png" alt="item" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-2">
        <div
          [ngClass]="
            toggleButtonGridContainer
              ? 'content-container-2columns'
              : 'content-container-1columns'
          "
        >
          <div class="content-item">
            <div class="mt-2">
              <h1>
                {{
                  'FORMULAS.FORMULAS-DETAILS.INGREDIENTS_TABLE.title'
                    | translate
                }}
              </h1>
              <!-- <app-table-ingredient
                *ngIf="ingredients$ | async as ingredients"
                [fontSize]="fontSize"
                [formula]="formula"
                [ingredientsInput]="ingredients"
                [totalPercentage]="100"
              ></app-table-ingredient> -->
            </div>
            <div>
              <div class="mt-2">
                <!-- <app-table-compound-ingredient
                  *ngIf="ingredientsCompound"
                  [fontSize]="fontSize"
                  [formula]="formula | async"
                  [formulaId]="formulaId"
                  [ingredientsCompound]="ingredientsCompound"
                  [totalPercentage]="100"
                ></app-table-compound-ingredient> -->
              </div>
            </div>
            <div
              class="mt-3"
              [ngClass]="toggleButtonGridContainer ? 'mt-2 ' : 'mt-2 verso'"
              [ngClass]="{
                br: formula.steps
              }"
            >
              <app-table-time
                [fontSize]="fontSize"
                [formula]="formula"
              ></app-table-time>
            </div>

            <div [ngClass]="toggleButtonAddInfo ? 'mt-2 verso' : 'd-none'">
              <app-additional-info
                [fontSize]="fontSize"
                [formula]="formula"
              ></app-additional-info>
            </div>
          </div>

          <div class="content-item">
            <app-formula-stepper
              [fontSize]="fontSize"
              [formula]="formula"
            ></app-formula-stepper>
            <div>
              <!-- <app-mixing-ingredient-compound
                [ngClass]="toggleButtonAddInfo ? 'mt-2 verso' : 'mt-2 br'"
                [formula]="formula | async"
                [fontSize]="fontSize"
              >
              </app-mixing-ingredient-compound> -->
            </div>

            <app-formula-compound-stepper
              *ngIf="ingredientsCompound"
              [ingredientsCompound]="ingredientsCompound"
              [formulaId]="formulaId"
            ></app-formula-compound-stepper>
            <div
              [ngClass]="toggleButtonGridContainer ? 'mt-2 ' : 'mt-2 verso'"
              [ngClass]="{
                br: formula.steps
              }"
            >
              <!-- <app-preparation-steps
                [fontSize]="fontSize"
                [formula]="formula | async"
              ></app-preparation-steps> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center py-2">
    <h2>Haz Pan En Casa</h2>
  </footer>
</ng-container>
