<ng-container *ngIf="formula">
  <div class="buttons-container noPrint">
    <div class="d-flex justify-content-center">
      <button
        (click)="decreaseFont()"
        style="width: 30px; font-size: 20px"
        class="button-active mr-3"
      >
        A-
      </button>
      <button
        (click)="increaseFont()"
        style="width: 30px; font-size: 20px"
        class="button-active"
      >
        A+
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="changeGridColumnByTwo()"
        style="width: 30px; font-size: 20px"
        [ngClass]="
          toggleButtonGridContainer ? 'button-active mr-3' : 'button mr-3'
        "
      >
        <ion-icon name="book-outline"></ion-icon>
      </button>
      <button
        [ngClass]="toggleButtonGridContainer ? 'button' : 'button-active'"
        (click)="changeGridColumnByOne()"
        style="width: 30px; font-size: 20px"
      >
        <ion-icon name="square-outline"></ion-icon>
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithIntro()"
        [ngClass]="toggleButtonIntro ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="reader-outline"></ion-icon>Intro
      </button>
      <button
        (click)="toggleButtonWithNoIntro()"
        [ngClass]="toggleButtonIntro ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon>No Intro
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithImg()"
        [ngClass]="toggleButtonImg ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="image-outline"></ion-icon>Photo
      </button>
      <button
        (click)="toggleButtonWithNoImg()"
        [ngClass]="toggleButtonImg ? 'button' : 'button-active'"
      >
        <ion-icon name="close-circle-outline"></ion-icon>No Photo
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button
        (click)="toggleButtonWithAddInfo()"
        [ngClass]="toggleButtonAddInfo ? 'button-active mr-3' : 'button mr-3'"
      >
        <ion-icon name="star-outline"></ion-icon>Add Info
      </button>
      <button
        (click)="toggleButtonWithNoAddInfo()"
        [ngClass]="toggleButtonAddInfo ? 'button ' : 'button-active '"
      >
        <ion-icon name="close-circle-outline"></ion-icon> No Add info
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <button (click)="printPDF()" class="button-active">
        <ion-icon name="print-outline"></ion-icon>Print
      </button>
    </div>
  </div>

  <div class="container-formula" id="print-section">
    <div class="row">
      <div [ngClass]="toggleButtonImg ? 'col-7' : 'col-12'">
        <div class="mb-4 header-title">
          <img src="assets/images/logoOriginal.png" alt="logo" />
          <h1 class="ml-4">
            {{ formula.name }}
          </h1>
        </div>
        <div [ngClass]="toggleButtonIntro ? 'd-block' : 'd-none'">
          <p [style.fontSize.%]="fontSize" *ngIf="formula.description">
            {{ formula.description }}
          </p>
          <p [style.fontSize.%]="fontSize" *ngIf="formula.user">
            <strong>Created by:</strong>
            {{ formula.user.creator.name }}
          </p>
          <p [style.fontSize.%]="fontSize" *ngIf="formula.user">
            <strong>Created at:</strong>
            {{
              formula.user.creator.date.seconds * 1000
                | date: "yyyy/MM/dd h:mm:ss a"
            }}
          </p>
          <p [style.fontSize.%]="fontSize" *ngIf="formula.user">
            <strong>Email:</strong>
            {{ formula.user.creator.email }}
          </p>
        </div>
        <div class="preparation-time mt-4">
          <app-table-intro
            [fontSize]="fontSize"
            [formula]="formula"
          ></app-table-intro>
        </div>
      </div>
      <div [ngClass]="toggleButtonImg ? 'col-5' : 'd-none'">
        <div class="img-container">
          <img src="assets/images/img-3.png" alt="item" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col mt-2">
        <div
          [ngClass]="
            toggleButtonGridContainer
              ? 'content-container-2columns'
              : 'content-container-1columns'
          "
        >
          <div class="content-item">
            <div class="mt-2">
              <h1>Ingredients</h1>
              <app-table-ingredient
                [fontSize]="fontSize"
                [formula]="formula"
              ></app-table-ingredient>
            </div>
            <div *ngIf="formula.steps[7].ingredients">
              <div class="mt-2">
                <h1>Compound ingredients</h1>
                <app-table-compound-ingredient
                  [fontSize]="fontSize"
                  [formula]="formula"
                ></app-table-compound-ingredient>
              </div>
              <div
                *ngIf="
                  formula.ingredients[7] &&
                  formula.ingredients[7].ingredient &&
                  formula.ingredients[7].ingredient.formula
                "
              >
                <app-table-compound-ingredient2
                  [fontSize]="fontSize"
                  [formula]="formula"
                ></app-table-compound-ingredient2>
              </div>
            </div>
            <div
              [ngClass]="toggleButtonGridContainer ? 'mt-2 ' : 'mt-2 verso'"
              [ngClass]="{
                br: formula.steps[7] && formula.steps[7].ingredients
              }"
            >
              <app-table-time
                [fontSize]="fontSize"
                [formula]="formula"
              ></app-table-time>
            </div>

            <div [ngClass]="toggleButtonAddInfo ? 'mt-2 verso' : 'd-none'">
              <h1>Additional Information</h1>
              <app-additional-info
                [fontSize]="fontSize"
                [formula]="formula"
              ></app-additional-info>
            </div>
          </div>

          <div class="content-item">
            <app-formula-stepper
              [fontSize]="fontSize"
              [formula]="formula"
            ></app-formula-stepper>
            <div *ngIf="formula.steps[7] && formula.steps[7].ingredients">
              <app-mixing-ingredient-compound
                [ngClass]="toggleButtonAddInfo ? 'mt-2 verso' : 'mt-2 br'"
                [formula]="formula"
              >
              </app-mixing-ingredient-compound>
            </div>
            <div
              [ngClass]="toggleButtonGridContainer ? 'mt-2 ' : 'mt-2 verso'"
              [ngClass]="{
                br: formula.steps[7] && formula.steps[7].ingredients
              }"
            >
              <h1>Preparation Order</h1>
              <app-preparation-steps
                [fontSize]="fontSize"
                [formula]="formula"
              ></app-preparation-steps>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-center py-2">
    <h2>Haz Pan En Casa</h2>
  </footer>
</ng-container>
