$primary-color: #881919
$secondary-color: #b6adad
$third-color: #F5AD3B
$light-color: #fff
$dark-color: black 
$font-title: 'Satisfy', cursive !important
$font-subtitle: Lato, sans-serif
$font-size-title: 2rem

$level-one: translateZ(3rem)
$level-two: translateZ(6rem)
$level-three: translateZ(9rem)
$level-four: translateZ(1rem)
$fw-normal: 400
$fw-bold: 700 
$clr: #b7c9e5
$spacer: 1em


$background-Formula: "assets/images/hazpanenCasa.jpeg"
$background-ingredients: "assets/images/hazPanEnCasa2.jpg"
$background-image1: "https://i.imgur.com/aJ5UkT3.png"
$background-image2: "https://i.imgur.com/XNOXHzw.png"
$background-image3: "https://i.imgur.com/FRR0u7D.png"
$background-image4: "https://i.imgur.com/knj5AXY.png"
$background-imageLogo1: "assets/images/Iogo_hazpanencasa-49.png"
$background-imageSplash1: "assets/images/Splash-hazpanencasa-24-24.png"