@import ../../../../../../utils/variables
.Gallery
  background-color: $light-color
  &__heading,
  &__sub-heading
    max-width: 600px
    margin-left: auto
    margin-right: auto
.Gallery-section__grid
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  grid-gap: 5px
  justify-content: center
  grid-auto-flow: dense
  & :nth-child(1)
    grid-row: span 2
  & :nth-child(2)
    grid-column: span 2
  & :nth-child(5)
    grid-row: span 2
  & :nth-child(7)
    grid-column: span 2
.Gallery-section__grid__item
  display: inline-flex
  border-radius: 5px
  background: #f2f2f2
  padding: 10px
  justify-content: center
  & img
    width: 100%
    height: 100%
    object-fit: cover
    display: block

.Gallery-section__grid__item > a 
  position: relative
  display: block
.over-lay
  background: rgba(0,0,0, .4)
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0
  display: none
  align-items: center
  justify-content: center
  color: white
  text-align: center
  font-size: 64px !important
.Gallery-section__grid__item:hover .over-lay
    display: flex
@media screen and ( max-width: 375px )
  .Gallery-section__grid
    grid-template-columns: 1fr
    & :nth-child(1)
    grid-row: span 1
    & :nth-child(2)
      grid-column: span 1
    & :nth-child(5)
      grid-row: span 1
    & :nth-child(7)
      grid-column: span 1