<div
  class="Gallery"
  data-aos="fade-up"
  data-aos-anchor-placement="bottom-bottom"
  data-aos-duration="2000"
>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="Gallery__heading text-center">Our Gallery</h2>
        <p class="Gallery__sub-heading text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit
        </p>
      </div>
    </div>
    <div class="row Gallery-section__grid">
      <div class="level-1 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery1.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-2 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery2.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-3 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery3.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-1 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery1.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-2 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery2.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-3 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery3.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-3 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery3.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-2 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery2.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
      <div class="level-1 Gallery-section__grid__item">
        <a href="">
          <img
            class="img-fluid"
            src="assets/images/img-gallery1.png"
            alt="..."
          />
          <span class="over-lay">
            <ion-icon name="add-outline"></ion-icon>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
