<div class="Gallery pt-md-4 pt-1">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="Gallery__heading text-center">Our Gallery</h2>
        <p class="Gallery__sub-heading text-center">
          the most popular Post of Made Bread at Home
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ngx-masonry class="grid mt-4" [options]="myOptions">
          <div
            ngxMasonryItem
            class="masonry-item"
            *ngFor="let post of imagesBread"
          >
            <div
              style="background-image: url('{{ post.media_url }}')"
              class="container-card"
            >
              <div class="overlay">
                <div class="items head">
                  <p>{{ post.caption ? post.caption : 'Haz Pan En Casa' }}</p>
                  <hr />
                </div>
                <div class="items info">
                  <p class="pb-3">This product was created by</p>
                </div>
                <div class="items ingredient">
                  <p class="align-self-start">{{ post.username }}</p>
                  <p class="align-self-start">{{ post.timestamp | date }}</p>
                  <button
                    (click)="showModal(post.media_url, post.permalink)"
                    class="button-primary mt-3"
                  >
                    See Post
                  </button>
                </div>
              </div>
            </div>
            <!-- <img
              width="340px"
              
              src="{{ post.media_url }}"
              alt="..."
            /> -->
          </div>
        </ngx-masonry>
      </div>
    </div>
  </div>
</div>
