<div class="grid-container">
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>Production</h1>
      </div>
      <div class="right">
        <h2>Production</h2>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/panCanilla.png" />
    </div>
  </div>
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>Ingredients</h1>
      </div>
      <div class="right">
        <h2>Ingredients</h2>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/rodillo.png" />
    </div>
  </div>
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>Formulas</h1>
      </div>
      <div class="right">
        <h2>Formulas</h2>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/bollo.png" />
    </div>
  </div>
</div>
