<div *ngIf="currentsUser" class="grid-container">
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>Production</h1>
      </div>
      <div class="right d-flex text-center">
        <div class="align-self-center" *ngIf="numberProductions > 0">
          <p>Congratulation you have made</p>
          <h1 class="my-0">{{ numberProductions }}</h1>
          <h1>Productions</h1>
        </div>
        <div *ngIf="numberIngredients == 0" class="align-self-center">
          This user has not any Productions created yet
        </div>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/panCanilla.png" />
    </div>
  </div>
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>Ingredients</h1>
      </div>
      <div class="right text-center d-flex">
        <div class="align-self-center" *ngIf="numberIngredients > 0">
          <p>Congratulation you have made</p>
          <h1 class="my-0">{{ numberIngredients }}</h1>
          <h1>Ingredients</h1>
        </div>
        <div *ngIf="numberIngredients == 0" class="align-self-center">
          This user has not any ingredient created yet
        </div>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/rodillo.png" />
    </div>
  </div>
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>Formulas</h1>
      </div>
      <div class="right d-flex text-center">
        <div class="align-self-center" *ngIf="numberFormulas > 0">
          <p>Congratulation you have made</p>
          <h1 class="my-0">{{ numberFormulas }}</h1>
          <h1>Formulas</h1>
        </div>
        <div *ngIf="numberFormulas == 0" class="align-self-center">
          This user has not any Formulas created yet
        </div>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/bollo.png" />
    </div>
  </div>
</div>
