<div *ngIf="currentsUser" class="grid-container">
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>{{ 'PROFILE.DESCRIPTION_IMG.title_production' | translate }}</h1>
      </div>
      <div class="right d-flex text-center">
        <div class="align-self-center" *ngIf="numberProductions > 0">
          <p>{{ 'PROFILE.DESCRIPTION_IMG.congrats' | translate }}</p>
          <h1 class="my-0">{{ numberProductions }}</h1>
          <h1>{{ 'PROFILE.DESCRIPTION_IMG.title_production' | translate }}</h1>
        </div>
        <div *ngIf="numberIngredients == 0" class="align-self-center">
          {{ 'PROFILE.DESCRIPTION_IMG.no_description_production' | translate }}
        </div>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/panCanilla.png" />
    </div>
  </div>
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>{{ 'PROFILE.DESCRIPTION_IMG.title_ingredient' | translate }}</h1>
      </div>
      <div class="right text-center d-flex">
        <div class="align-self-center" *ngIf="numberIngredients > 0">
          <p>{{ 'PROFILE.DESCRIPTION_IMG.congrats' | translate }}</p>
          <h1 class="my-0">{{ numberIngredients }}</h1>
          <h1>{{ 'PROFILE.DESCRIPTION_IMG.title_ingredient' | translate }}</h1>
        </div>
        <div *ngIf="numberIngredients == 0" class="align-self-center">
          {{ 'PROFILE.DESCRIPTION_IMG.no_description_ingredient' | translate }}
        </div>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/rodillo.png" />
    </div>
  </div>
  <div class="wrapper">
    <div class="card">
      <div class="front">
        <h1>{{ 'PROFILE.DESCRIPTION_IMG.title_formula' | translate }}</h1>
      </div>
      <div class="right d-flex text-center">
        <div class="align-self-center" *ngIf="numberFormulas > 0">
          <p>{{ 'PROFILE.DESCRIPTION_IMG.congrats' | translate }}</p>

          <h1 class="my-0">{{ numberFormulas }}</h1>
          <h1>{{ 'PROFILE.DESCRIPTION_IMG.title_formula' | translate }}</h1>
        </div>
        <div *ngIf="numberFormulas == 0" class="align-self-center">
          {{ 'PROFILE.DESCRIPTION_IMG.no_description_formula' | translate }}
        </div>
      </div>
    </div>
    <div class="img-wrapper">
      <img src="assets/images/bollo.png" />
    </div>
  </div>
</div>
