<ng-container *ngIf="ingredients">
  <h4 class="m-0 p-2">
    <strong [style.fontSize.%]="fontSize"> Ingredient compound </strong>
  </h4>
  <div *ngFor="let ingredient of ingredients">
    <div *ngFor="let i of ingredient.ingredients">
      <ng-container *ngIf="i.ingredient.formula">
        <div class="table3-container mt-4">
          <h4 class="m-0 p-2">
            <strong [style.fontSize.%]="fontSize">{{
              i.ingredient.name
            }}</strong>
          </h4>
          <table class="table">
            <thead>
              <tr>
                <th [style.fontSize.%]="fontSize" colspan="4" scope="col">
                  {{
                    'FORMULAS.FORMULAS-DETAILS.INGREDIENTS_TABLE-COMPOUND.table-head-title'
                      | translate
                  }}
                </th>
                <th
                  [style.fontSize.%]="fontSize"
                  class="text-right"
                  scope="col"
                >
                  %
                </th>
                <th
                  [style.fontSize.%]="fontSize"
                  class="text-right"
                  scope="col"
                >
                  gr
                </th>
              </tr>
            </thead>

            <tbody *ngFor="let element of i.ingredient.formula.ingredients">
              <tr class="table-row__info">
                <td [style.fontSize.%]="fontSize" colspan="4" scope="row">
                  {{ element.ingredient.name }}
                </td>
                <td [style.fontSize.%]="fontSize" class="text-right">
                  {{ element.percentage }}
                </td>
                <td [style.fontSize.%]="fontSize" class="text-right">
                  {{
                    getIngredientsGrams(
                      element.percentage,
                      ingredient.ingredients,
                      i.ingredient.formula.ingredients
                    )
                  }}
                </td>
              </tr>
              <tr class="table-row__barprogress">
                <td colspan="6">
                  <mat-progress-bar
                    mode="determinate"
                    value="{{ element.percentage }}"
                  ></mat-progress-bar>
                </td>
              </tr>
            </tbody>
            <tr>
              <td [style.fontSize.%]="fontSize" colspan="4" scope="row">
                Total
              </td>
              <td [style.fontSize.%]="fontSize" class="text-right">
                {{ getTotalPercentage(i.ingredient.formula.ingredients) }}
              </td>
              <td [style.fontSize.%]="fontSize" class="text-right">
                {{ getTotalGrams(ingredient.ingredients) }}
              </td>
            </tr>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
