<ng-container *ngIf="formulas">
  <div
    style="background-image: url('assets/images/hazPanEnCasa2.jpg')"
    class="Banner parallax"
    id="parallax"
  >
    <div class="overlay">
      <h1>Formulas</h1>
      <p>Mira toda nuestra variedad de Formulas</p>
    </div>
  </div>
  <div class="Banner-section__main container mt-3">
    <div class="row">
      <div class="col-10">
        <div class="container">
          <div class="row">
            <div class="col">
              <mat-paginator
                [length]="formulas.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)"
              >
              </mat-paginator>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <section class="Carousel">
                <div class="Carousel-container" id="carousel">
                  <div
                    *ngFor="
                      let formula of formulas | paginate: pageSize:pageNumber
                    "
                    class="Carousel-container__item"
                  >
                    <div class="Carousel-item__details">
                      <div class="Carousel-item__details-title">
                        <h1>{{ formula.name }}</h1>
                      </div>
                      <div class="Carousel-item__details-subtitle">
                        <p>
                          {{
                            formula.description
                              ? formula.description
                              : "No contiene description"
                          }}
                        </p>
                        <button
                          class="btn-primary"
                          routerLink="{{ formula.id }}"
                        >
                          See Formula
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2">
        <input type="text" />
        <ul>
          <li>categoria</li>
        </ul>
      </div>
    </div>
  </div>
</ng-container>
