@import ../../../../../../utils/variables
.parallax
  background: #fff fixed no-repeat 50% 50%
#parallax
  position: relative
  background-size: cover
  background-position: bottom
  & .overlay
    z-index: 1
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(0, 0, 0, 0.3)
    color: white
    padding-top: 50px
    display: inline-flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0 auto
.Banner
  height: 50vh
.Cards 
  display: flex
  justify-content: center
.Cards-container
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 5px
  margin: 40px 0px
  padding-bottom: 10px
.Cards-container__item
  position: relative
  margin-right: 10px
  display: inline-block
  cursor: pointer
  transition: 450ms all
  transform-origin: center left