<ng-container *ngIf="formulas">
  <div
    style="background-image: url('assets/images/hazPanEnCasa2.jpg')"
    class="parallax"
    id="parallax"
  >
    <div class="overlay">
      <div class="overlay__header-title">
        <h1 class="ml-2">{{ 'FORMULAS.title' | translate }}</h1>
        <p class="ml-2">{{ 'FORMULAS.text-info' | translate }}</p>
        <div class="Banner-section__main container mt-3">
          <div class="row">
            <div class="col-12 col-md-9 p-0">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-6 card-input">
                    <mat-form-field>
                      <mat-label>{{ 'FORMULAS.input' | translate }}</mat-label>
                      <input
                        matInput
                        placeholder="Ex. Pan Campesino"
                        name="filterProduction"
                        [(ngModel)]="filterFormula"
                      />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 col-6 px-0">
                    <mat-paginator
                      class="p-0"
                      [length]="formulas.length"
                      [pageSize]="pageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="onPageChange($event)"
                    >
                    </mat-paginator>
                  </div>
                </div>
                <div class="row">
                  <div class="col p-0">
                    <section class="cards">
                      <div class="cards-container" id="carousel">
                        <div
                          *ngFor="
                            let formula of formulas
                              | paginate: pageSize:pageNumber
                              | filter: filterFormula
                          "
                          class="cards-container__item"
                        >
                          <app-card [formula]="formula"></app-card>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
