<ng-container *ngIf="formula">
  <div [style.fontSize.%]="fontSize">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel aut illo
    assumenda repellat et sequi fugit velit. Sit similique officiis asperiores
    aperiam error minima, tempora corporis aut ratione expedita suscipit!
  </div>
  <div [style.fontSize.%]="fontSize">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum mollitia ea
    obcaecati sint repellat maxime tempore quas repudiandae, aliquid laboriosam
    quia. Sit ea ducimus ipsa soluta deleniti officiis! Itaque, dolore? Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Quisquam placeat dolores
    harum exercitationem neque quod? Dignissimos magni, doloribus sequi deleniti
    ad, tempore officia adipisci sunt eos quis in id expedita!
  </div>
  <div [style.fontSize.%]="fontSize">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus
    corporis magnam, minus expedita ipsam quidem! Perspiciatis ea adipisci
    necessitatibus vel impedit fugit, dicta esse dignissimos ad ducimus, saepe
    consectetur harum? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Voluptatibus corporis magnam, minus expedita ipsam quidem! Perspiciatis ea
    adipisci necessitatibus vel impedit fugit, dicta esse dignissimos ad
    ducimus, saepe consectetur harum? Lorem ipsum dolor sit, amet consectetur
    adipisicing elit. Voluptatibus corporis magnam, minus expedita ipsam quidem!
    Perspiciatis ea adipisci necessitatibus vel impedit fugit, dicta esse
    dignissimos ad ducimus, saepe consectetur harum? Lorem ipsum dolor sit, amet
    consectetur adipisicing elit. Voluptatibus corporis magnam, minus expedita
    ipsam quidem! Perspiciatis ea adipisci necessitatibus vel impedit fugit,
    dicta esse dignissimos ad ducimus, saepe consectetur harum?
  </div>
</ng-container>
