<div class="profile-info">
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayFormulas" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p *ngIf="element.description !== null">
          {{ element.description }}
        </p>
        <p *ngIf="element.description === null">
          This is an special Formula, take a look to see all the details
        </p>
        <button>See Details here</button>
      </div>
    </div>
  </div>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayProductions" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p *ngIf="element.description !== null">
          {{ element.description }}
        </p>
        <p>This is an special Formula, take a look to see all the details</p>
        <button>See Details here</button>
      </div>
    </div>
  </div>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayIngredients" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p>
          {{ element.description }}
        </p>
        <button>See Details here</button>
      </div>
    </div>
  </div>
</div>
