<div class="profile-info">
  <h1 class="text-center">
    {{ 'PROFILE.MOST_POPULAR.title' | translate }} {{ userName }}
  </h1>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayFormulas" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p *ngIf="element.description !== null">
          {{ element.description }}
        </p>
        <p *ngIf="element.description === null">
          {{ 'PROFILE.MOST_POPULAR.description' | translate }}
        </p>
        <button
          class="button-primary mt-4"
          routerLink="/home/formulas/{{ element.id }}"
        >
          {{ 'PROFILE.MOST_POPULAR.button' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayProductions" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p *ngIf="element.description !== null">
          {{ element.description }}
        </p>
        <p>{{ 'PROFILE.MOST_POPULAR.description' | translate }}</p>
        <button
          class="button-primary mt-4"
          routerLink="/home/productions/{{ element.id }}"
        >
          {{ 'PROFILE.MOST_POPULAR.button' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayIngredients" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p>
          {{ element.description }}
        </p>
        <button
          class="button-primary mt-4"
          routerLink="/home/ingredients/{{ element.id }}"
        >
          {{ 'PROFILE.MOST_POPULAR.button' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="outputArrayFormulas.length == 0">
    {{ 'PROFILE.DESCRIPTION_IMG.no_description_formula' | translate }}
  </div>
  <div class="text-center mt-4" *ngIf="outputArrayProductions.length == 0">
    {{ 'PROFILE.DESCRIPTION_IMG.no_description_production' | translate }}
  </div>
  <div class="text-center mt-4" *ngIf="outputArrayIngredients.length == 0">
    {{ 'PROFILE.DESCRIPTION_IMG.no_description_ingredient' | translate }}
  </div>
</div>
