<div class="profile-info">
  <h1 class="text-center">The Most Popular of {{ userName }}</h1>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayFormulas" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p *ngIf="element.description !== null">
          {{ element.description }}
        </p>
        <p *ngIf="element.description === null">
          This is an special Formula, take a look to see all the details
        </p>
        <button
          class="button-primary mt-4"
          routerLink="/home/formulas/{{ element.id }}"
        >
          See Details here
        </button>
      </div>
    </div>
  </div>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayProductions" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p *ngIf="element.description !== null">
          {{ element.description }}
        </p>
        <p>This is an special Formula, take a look to see all the details</p>
        <button
          class="button-primary mt-4"
          routerLink="/home/productions/{{ element.id }}"
        >
          See Details here
        </button>
      </div>
    </div>
  </div>
  <div class="profile-info_container">
    <div *ngFor="let element of outputArrayIngredients" class="flip">
      <div
        class="front d-flex justify-content-center align-items-center"
        style="background-image: url('assets/images/img-2.png')"
      >
        <h1 class="text-center text-shadow">{{ element.name }}</h1>
      </div>
      <div class="text-center back">
        <h2>{{ element.name }}</h2>
        <p>
          {{ element.description }}
        </p>
        <button
          class="button-primary mt-4"
          routerLink="/home/ingredients/{{ element.id }}"
        >
          See Details here
        </button>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="outputArrayFormulas.length == 0">
    This User has no any Formula created yet
  </div>
  <div class="text-center mt-4" *ngIf="outputArrayProductions.length == 0">
    This User has no any Productions created yet
  </div>
  <div class="text-center mt-4" *ngIf="outputArrayIngredients.length == 0">
    This User has no any ingredients created yet
  </div>
</div>
