<div
  style="background-image: url('assets/images/Splash-hazpanencasa-24-24.png')"
  *ngIf="post"
  class="Info"
>
  <div class="overlay">
    <section class="Info-section1 mt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-2 align-self-start" data-aos="fade-right">
            <h1 class="text-center text-white">New instagram's posts</h1>
            <p class="Info-section1__description text-white text-center">
              {{ post[0].caption }}
            </p>
          </div>
          <div class="col-md-5 align-self-start" data-aos="fade-up">
            <div class="Info-section1__img">
              <img
                class="img-fluid"
                [src]="post[0].media_url"
                alt="description"
              />
            </div>
          </div>
          <div
            class="col-md-5 text-center align-self-center Info-section1__description"
            data-aos="fade-left"
          >
            <h2 class="text-white">
              <em>Created by</em>
              {{ post[0].username }}
            </h2>
            <p class="text-white">
              this post was created {{ post[0].timestamp | date }} <br />
              <a [href]="post[0].permalink">click here</a> to see more about
              this post
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="Info-section2 mt-2">
      <div class="container">
        <div class="row">
          <div
            class="col-md-2 order-md-2 align-self-end"
            data-aos="fade-down-left"
          >
            <p class="Info-section2__description text-white">
              {{
                post[1].caption
                  ? post[1].caption
                  : 'Aprende mas recetas en instagram'
              }}
            </p>
          </div>
          <div
            class="col-md-5 order-md-3 align-self-start"
            data-aos="fade-down"
          >
            <div class="alt Info-section2__img">
              <img
                class="img-fluid"
                [src]="post[1].media_url"
                alt="description"
              />
            </div>
          </div>
          <div
            class="col-md-5 order-md-1 text-center align-self-center Info-section1__description"
            data-aos="fade-right"
          >
            <h2 class="text-white">
              <em>Created by</em>
              {{ post[1].username }}
            </h2>
            <p class="text-white">
              this post was created {{ post[1].timestamp | date }} <br />
              <a [href]="post[1].permalink">click here</a> to see more about
              this post
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="Info-section1 mt-2">
      <div class="container">
        <div class="row">
          <div class="col-md-2 align-self-start" data-aos="fade-right">
            <p class="Info-section1__description text-center text-white">
              {{ post[2].caption }}
            </p>
          </div>
          <div class="col-md-5 align-self-start" data-aos="fade-up">
            <div class="Info-section1__img">
              <img
                class="img-fluid"
                [src]="post[2].media_url"
                alt="description"
              />
            </div>
          </div>
          <div
            class="col-md-5 text-center align-self-center Info-section1__description"
            data-aos="fade-left"
          >
            <h2 class="text-white">
              <em>Created by</em>
              {{ post[2].username }}
            </h2>
            <p class="text-white">
              this post was created {{ post[2].timestamp | date }} <br />
              <a [href]="post[2].permalink">click here</a> to see more about
              this post
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
