<div class="Info">
  <section class="Info-section1">
    <div class="container">
      <div class="row">
        <div class="col-md-2 align-self-start">
          <p class="Info-section1__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <div class="col-md-4 align-self-start">
          <div class="Info-section1__img">
            <img
              class="img-fluid"
              src="assets/images/img-info1.png"
              alt="description"
            />
          </div>
        </div>
        <div class="col-md-6 align-self-center Info-section1__description2">
          <h2>
            <em>Lorem ipsum</em>
            dolor sit amet
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
            voluptas harum doloremque esse vel ipsa alias veniam perspiciatis
            quibusdam! Ea fugit maiores quo error neque impedit odio perferendis
            consectetur culpa?
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="Info-section2">
    <div class="container">
      <div class="row">
        <div class="col-md-2 order-md-2 align-self-end">
          <p class="Info-section2__description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <div class="col-md-4 order-md-3 align-self-start">
          <div class="alt Info-section2__img">
            <img
              class="img-fluid"
              src="assets/images/img-info2.png"
              alt="description"
            />
          </div>
        </div>
        <div class="col-md-6 order-md-1 align-self-center">
          <h2>
            <em>Lorem ipsum</em>
            dolor sit amet
          </h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
            voluptas harum doloremque esse vel ipsa alias veniam perspiciatis
            quibusdam! Ea fugit maiores quo error neque impedit odio perferendis
            consectetur culpa?
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
